[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"py-cord" = "*"
beautifulsoup4 = "*"
requests = "*"
pynamodb = "*"

[dev-packages]

[requires]
python_version = "3.9"
