[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
beautifulsoup4 = "*"
requests = "*"
uvloop = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "pylint main.py"
flake8 = "flake8"
